*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background-image: url('img/alone tree.jpg');
  object-fit: cover;
}
.header{
  position:fixed;

}
nav{
  width: 100%;
  background-color: rgb(94, 35, 150);
}
nav h1{
  position: relative;
  right:40%;
  top:40px;

}
.nav-links{
  display: flex;
  padding-left: 60em;
  
}
.nav-links li{
  padding: 20px 20px;
  list-style: none; 
}
.nav-links li a{
  color:#fff;
  text-decoration: none;
}
.nav-links li a:hover{
  color:orange;
}

/*Home Page*/
.container h1{
  text-align: center;
  color: yellow;
}
.container p{
  width:50%;
  color: #fff;
  padding-top: 20px;
  padding-left: 25%;
  text-align: center;
}
/*project*/
.card{
 text-align: center;
 margin-left: 40%;
}
.card p{
  padding: 5px;
  color:#fff;
}
.card a{
  color:red;
  background-color: aliceblue;
}
.card a:hover{
  color:aliceblue;
  background-color: red;
}
.card section{
     width:40%;
     height:30%;
     background-color: gray;
     margin: 20px;
     border-radius: 10px;
/*about*/
.paragraph p{
  color:#fff;
  padding: 20px;
}
footer{
  width: 100%;
  background-color: rgb(70, 32, 105);
  text-align: center;
  position: flex;
  top:90%;
}
footer h1{
  color:green;
}
footer a{
  padding-left: 20px;
  color:#fff;
}
  
