*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
background-color: rgb(24, 18, 77);
}
nav{
display: flex;
padding: 20px;
color:#fff;


}
.nav-links{
  display:flex;
  flex-direction: row;
  list-style: none;
  margin-left:50rem;
}
.nav-links a{
  padding-left: 20px;
  text-decoration: none;
  color:#fff;
  cursor: pointer;
}
/* home page */
.container{
  margin-top: 20px;
  margin-left: 20%;
  color:#fff;
}
.container h1{
  font-size: 40px;
  margin-left: 30px;
}
.container p{
  width: 50%;
  height:auto;
  font-size: 20px;
  margin-top: 10px;
}
/* skills */
.skill{
  font-size: 40px;
  margin-left: 30px;
  color:#fff; 
}
.image{
display: flex;
flex-wrap:nowrap;
list-style: none;
margin-top: 30px;
}
.image li img{
  width: 100px;
  height:100px; 
  padding-left: 30px;
  
}
.image p{
  margin-top: 20px;
  color:#fff;
}
/* project */
.card{
  margin-top: 10%;
}
.card h1{
  font-size: 40px;
  margin-left: 30px;
  color:#fff;
}
.item{
display: flex;
flex-wrap: wrap;
}
.items{
  width:30%;
  height:50%;

  background-color: lightblue;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
 
}
.items h3{
font-size:20px;
color:gold;
}
.contact{
margin-top: 10%;
}
.contact h1{
font-size: 40px;
margin-left: 30px;
color:#fff;
}
.contact form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 10%;
}
.contact label{
  font-size: 20px;
  color:#fff;
  margin-top: 5px;
}
.contact form input{
  width:50%;
  height:30px;
  margin-top: 5px;
}
.contact form textarea{
  width:50%;
  height:80px;
  margin-top: 5px;
}
.contact form button{
  width:20%;
  height:40%;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 15%;
}
/* footer */
footer{
background-color: aqua;
text-align: center;
}
footer a {

  padding-left: 5px;
}
footer a i{
width: 10%;
  height:10%;
}